.title-animation {
    animation: fadeIn 1s;
}

.fade-animation {
    animation: fadeIn 2s;
}

.fade-animation2 {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
}